.tools {
    margin-bottom: 16px;
    button + button {
        margin-left: 10px;
    }
}

:global(.ant-table-cell) a + a {
    margin-left: 10px;
}
:global(.ant-table-thead) > tr > th {
 background-color: #1a1a1a;
}