.container {
    display: flex;
    margin-bottom: 20px;
    min-height: 40px;
    padding: 4px 0;
    border: 1px dashed #303030;
    border-left: 0;
    border-right: 0;
    .tips,.clear {
        align-self: center;
    }
    .tips {
        flex: 0 0 150px;
    }
    .clear {
        flex: 0 0 80px;
        margin-left: auto;
        cursor: pointer;
        &:hover {
            color: #ff7875;
        }
    }
    .tags {
        :global(.ant-tag) {
            display: inline-block;
            margin: 4px 4px;
        }
        min-width: 400px;
    }
}